name: Docker Image CI

on:
  push:
    branches: [ "main" ] 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        docker build -t app .
        echo secrets.DOCKER_SECRET
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_SECRET }}
        docker tag app vivekshaurya/form-back
        docker push vivekshaurya/form-back
        
